{% extends "emails/base_email.html" %}
{% load i18n %}

{% block title %}{% trans "Invitation Declined" %} - Altempo{% endblock %}

{% block content %}
    <h1 class="headline">{% trans "Invitation Declined" %}</h1>

    <p class="body-text">
        {% blocktrans with user_name=user_name band_name=band_name %}
        Hi {{ user_name }}, you have declined the invitation to join {{ band_name }}.
        {% endblocktrans %}
    </p>

    <p class="body-text">
        {% trans "The band owner has been notified of your decision. You can always accept future invitations from other bands or create your own music project." %}
    </p>

    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td class="button-container">
                <a href="{{ dashboard_url }}" class="button-primary" style="display: inline-block; min-width: 160px; text-align: center;">
                    {% trans "Go to Dashboard" %}
                </a>
            </td>
        </tr>
    </table>

    <p class="meta-text">
        {% trans "If you have any questions or need assistance, feel free to contact our support team." %}
    </p>
{% endblock %}

{% block help_center_url %}{{ help_center_url }}{% endblock %}
{% block terms_url %}{{ terms_url }}{% endblock %}
{% block privacy_url %}{{ privacy_url }}{% endblock %}
{% block unsubscribe_url %}{{ unsubscribe_url }}{% endblock %}
{% block instagram_url %}{{ instagram_url }}{% endblock %}
{% block linkedin_url %}{{ linkedin_url }}{% endblock %}
{% block facebook_url %}{{ facebook_url }}{% endblock %}
